{% extends template %}
{% block title %}<title>Home</title>{% endblock %}
{% load static %}
{% block js %}
<script type="text/javascript" src="{% static 'javascript/screen_size.js' %}" defer></script>
{% endblock %}
{%block content %}







   <!-- Navigation-->

        <!-- Masthead-->
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <!-- Page heading-->
                            <h1 class="mb-5" id="home-title">Welcome to OpticalRec</h1>

                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Icons Grid-->
        <section class="features-icons bg-light text-center section" id="section">
            <div class="d-flex justify-content-center">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="bi-window m-auto text-primary"></i></div>
                            <h3>Top video analysis algorithm</h3>
                            <p class="lead mb-0">Our top of the line algorithm will detect your values.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="bi-layers m-auto text-primary"></i></div>
                            <h3>Upload your video today!</h3>
                            <p class="lead mb-0">Navigate yourself to the upload tab</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="bi-terminal m-auto text-primary"></i></div>
                            <h3>Easy to Use</h3>
                            <p class="lead mb-0">Have fun viewing all your data!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Image Showcases-->
        <section class="showcase">
            <div class="container-fluid p-0">
                <div class="row g-0 justify-content-center">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/static/img/uploadIcon.png')"></div>
                    <div class="col-lg-6 my-auto showcase-text">
                        <h2>Upload your gameplay</h2>
                        <p class="lead mb-0">
                            When you upload your gameplay video, our system will allow you to 
                            select specific digit areas you want to track in your game. Choose as many
                            areas as you want! Then let our system prepare your video for extraction.</p>
                    </div>
                </div>
                <div class="row g-0 justify-content-center">
                    <div class="col-lg-6 text-white showcase-img" class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/static/img/networkdiagram.png')"></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                        <h2>Image Recognition</h2>
                        <p class="lead mb-0">
                            Extract your gameplay data using our state of the art Image Recognition Model!
                            Our model will comb through your gameplay and pull the digit values you have selected.
                            You can then view your data in the dashboard or download a copy for yourself!
                        </p>
                    </div>
                </div>

                <div class="row g-0 justify-content-center">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/static/img/easyIcon.png')"></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                        <h2>Easy to Use</h2>
                        <p class="lead mb-0">
                            OpticalRec is easy to use.  You will have the data you want in a matter of clicks! Upload your first video and get started today!
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Testimonials-->
        <section class="testimonials text-center bg-light section pt-5">
            <div class="container">
                <h2 class="mb-5">What people are saying...</h2>
                <div class="row justify-content-center">
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="{% static  'img/avatarIcon.png' %}" alt="..." />
                            <h5>Zach Larsen</h5>
                            <p class="font-weight-light mb-0">"I've never had so much data!"</p>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="{% static  'img/avatarIcon.png' %}" alt="..." />
                            <h5>Imran Lawal</h5>
                            <p class="font-weight-light mb-0">"Data extraction has never been so exciting!"</p>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="{% static  'img/avatarIcon.png' %}"   alt="..." />
                            <h5>Howard Kang</h5>
                            <p class="font-weight-light mb-0">"I can't wait to record more gameply just to use OpticalRec again!"</p>
                        </div>
                    </div>
                    <br>
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="{% static  'img/avatarIcon.png' %}" alt="..." />
                            <h5>Ikenna Nnaji</h5>
                            <p class="font-weight-light mb-0">"The dashboard makes it so easy to see all my data, I love it!"</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="{% static  'img/avatarIcon.png' %}" alt="..." />
                            <h5>Robbie Hill</h5>
                            <p class="font-weight-light mb-0">"Creating an account and getting started is so easy!"</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="call-to-action text-white text-center" id="signup">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <h2 class="mb-4">Create an account today!</h2>


                    </div>
                </div>
            </div>
        </section>




{% endblock %}
