{% extends "base_template.html" %}

{% load widget_tweaks %}
{% block content %}
    <h1>Register Page</h1>
    <div class="d-flex justify-content-center">
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Register an account</legend>
            {% render_field form.username type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username" placeholder="Username"  id="id_username" class="form-control" %}
            <div class="pt-2">
            {{ form.username.help_text }}
            {{ form.errors.username }}
            </div>
            <br/>
            {{form.password1|add_class:'form-control'|attr:"placeholder: Enter password"}}
            <div class="pt-2">
            {{form.password1.help_text}}
            {{form.errors.password1}}
            </div>
            <br/>
            {{form.password2.help_text}}
            {{form.password2|add_class:'form-control'|attr:"placeholder: Confirm Password"}}
            <div class="pt-2">
            {{form.errors.password2}}
            </div>
        </fieldset>
        <button class="btn btn-primary mt-3 mb-3" type="submit">Create account</button>
    </form>
</div>

{% endblock content %}